@font-face {
  font-family: "Futura XBlk BT";
  src: url("/fonts/FuturaBT-ExtraBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-CondensedBold.woff2") format("woff2");
  font-weight: 700;
  font-stretch: condensed;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orator Std";
  src: url("/fonts/OratorStd.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
