@font-face {
    font-family: 'Futura XBlk BT';
    src: url('/fonts/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('/fonts/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('/fonts/Arial-BoldMT.woff2') format('woff2'),
        url('/fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Black.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue.woff2') format('woff2'),
        url('/fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Italic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-UltraLightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-ThinItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-BlackItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Bold_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Bold_1.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-BoldItalic_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-BoldItalic_1.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Italic_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Italic_1.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Light_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Light_1.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-LightItalic_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-LightItalic_1.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Medium_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Medium_1.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-MediumItalic_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-MediumItalic_1.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Thin_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Thin_1.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-ThinItalic_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-ThinItalic_1.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-UltraLight_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-UltraLight_1.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-UltraLightItalic_1.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-UltraLightItalic_1.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Orator Std';
    src: url('/fonts/OratorStd.woff2') format('woff2'),
        url('/fonts/OratorStd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

